@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly allows you to rent movies at the click of a button</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Vidly is a web app used by administrators and members of the Vidly movies club to rent movies
        </p>
        <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Movies List</h2>
        <p>As an administrator, you can manage the catalogue of movies and their availability</p>
        <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Customers</h2>
        <p>Admins can also add, delete and modify members and their information</p>
        <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
    </div>
</div>