@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="selectedMovies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-success">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var vm = {
                customerID: 0,
                movieIDs: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 2,
                highlight: true
            }, {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:selected", function (e, customer) {
                    vm.customerID = customer.id;
                });

            $('#movie').typeahead({
                minLength: 2,
                highlight: true
            }, {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:selected", function (e, movie) {
                    $("#selectedMovies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#movie").typeahead("val", "");
                    vm.movieIDs.push(movie.id);
                });

            $.validator.addMethod("validCustomer", function () {
                    return vm.customerID && vm.customerID != 0;
                },
                "Please select a valid customer");

            $.validator.addMethod("atLeastOneMovie", function () {
                return vm.movieIDs.length > 0;
            },
                "Please select at least one movie");


            var validator = $("#newRental").validate(
                {
                    submitHandler: function () {
                        $.ajax({
                            url: "/api/rentals",
                            method: "post",
                            data: vm,
                        }).done(function () {
                            toastr.success("Rental successfully recorded.");

                            $("$customer").typeahead("val", "");
                            $("$movie").typeahead("val", "");
                            $("$movies").empty();

                            vm = { customerID: 0, movieIDs: [] };

                            validator.resetForm();

                        }).fail(function () {
                            toastr.error("Something went wrong.");
                            vm = { customerID: 0, movieIDs: [] };
                            validator.resetForm();
                            });

                        return false;
                    }
                });

        });
    </script>
}